*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color:#edf1f2;
}
  
th {
    border-bottom: 1px solid black;
    background-color: #abafaf;
    text-align: left;
    padding: 8px;
}

td {
    border-bottom: 1px solid;
    text-align: left;
    padding: 8px;
}

/* Esconde o input */

input[type='file']{
   /* display: none*/
  }
 
#submit-arquivo{
   /* display: none;*/
}


  /* Aparência que terá o seletor de arquivo */
.txt {
    background-color: rgb(255, 76, 76);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px;
    flex: 1;
    display: inline-flex;
  }
